.header {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: 700;
  z-index: 1000;
  min-height: 80px;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}
.header h1 a:hover{
  text-decoration: none;
}
.list {
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  
}
.list li {
  margin-right: 2rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
@media (min-width: 768px) {
  .header {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 0 2rem;
  }
}

