.header {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: 700;
  z-index: 1000;
  min-height: 80px;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 0 2rem;
}
.header h1 a:hover{
  text-decoration: none;
}


@media (min-width: 768px) {
  .header {
    padding: 0 2rem;
  }
}

