.center {
  text-align: center;
  margin-bottom: 15px;
}

.tooltip {
  background: #fff;
  border: 2px solid #ccc;
  padding: 10px;
  line-height: 1;
  font-size: 1rem;
}

.label {
  margin-bottom: 5px;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.article {
  margin: 2.5rem 0;
}
.header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
}
.headerline {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2rem;
  margin-right: 20px;
}
.headerdate {
  color: #888;
}
@media (max-width: 768px) {
  .headerdate {
    margin-top: .5rem;
  }
}
